@tailwind base;
@tailwind components;
@tailwind utilities;


th {
  padding: 10px;

}

td {
  padding: 10px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

th,
thead,
tr,
td {
  text-align: start;
  border-collapse: collapse;
}

td {
  min-width: 100px;
}


/* width */
.scrollbar::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #8e8e8e;
  display: block;
  height: 7px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #1273eb;
  /* width: 5px; */


}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}